server:
  port: 28080

spring:
  application:
    name: service-gateway
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.31.17:18848
    gateway:
      routes:
        - id: user-service
          uri: lb://service-user
          predicates:
            - Path=/user/**
